/* * import font ---------------------------------------------------------*/
@import url(fonts/Yekan.css);

:root {
  --primeryColor: #6d28d9;
  --seconderyColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGray: #7c7c7c;
  --bodyColor: #f6f6f6;
  --mainSpacing: 0.1rem;
  --mainTransiton: all 0.3s linear;
  --mainRed: #db2777;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    120deg,
    var(--primeryColor),
    var(--seconderyColor)
  );
  color: var(--mainWhite);
  font-family: "Poppins", "Yekan", "Segoe UI", sans-serif, Tahoma;
  min-height: 100vh;
}
/** -------------------------------------------------------------------- */
header {
  font-size: 1.5rem;
  color: var(--seconderyColor);
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  border-radius: 0.7rem 0 0 0.7rem;
}
form button {
  border-radius: 0 0.7rem 0.7rem 0;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 1.7rem;
  border: none;
  outline: none;
  background-color: var(--seconderyColor);
}
form button {
  color: var(--primeryColor);
  background-color: var(--seconderyColor);
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background-color: var(--primeryColor);
  color: var(--seconderyColor);
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 40%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background-color: var(--seconderyColor);
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 0.7rem;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background-color: var(--mainRed);
  color: var(--seconderyColor);
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
}
.complete-btn {
  background-color: var(--primeryColor);
}
.complete-btn:hover {
  background-color: var(--seconderyColor);
  color: var(--primeryColor);
}
.trash-btn:hover {
  background-color: var(--seconderyColor);
  color: var(--mainRed);
}
.todo-item {
  padding: 0 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: var(--primeryColor);
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.select::after {
  content: "\25bc";
  position: absolute;
  background-color: var(--primeryColor);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after {
  background-color: var(--seconderyColor);
  color: var(--primeryColor);
}
